@model IEnumerable<Shop.Models.Products>

@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.PageName = "Products";
}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero mb-5">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-white mb-md-4">Our Products</h1>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase">Products</h6>
            </div>
            @foreach (var type in ViewBag.Types)
            {
            <div class="container-fluid py-4">
                <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                    <h1 class="display-5">@type.Type</h1>
                </div>
                <div class="owl-carousel product-carousel px-5">
                    @foreach (var item in Model)
                    {
                        if (type.Id == item.idProduct)
                        {
                            <div class="pb-5">
                                <div class="product-item position-relative bg-white d-flex flex-column text-center">
                                    <img class="img-fluid mb-4" src="@Html.DisplayFor(modelItem => item.UrlHinhAnh)" style="height: 160px" alt="">
                                    <h6 class="mb-3">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Description)</h6>
                                    <h5 class="text-primary mb-3">@Html.DisplayFor(modelItem => item.Price) VND</h5>
                                    <div class="btn-action d-flex justify-content-center">
                                        <a class="btn bg-primary py-2 px-3" href=""><i class="bi bi-cart text-white"></i></a>
                                        <a class="btn bg-secondary py-2 px-3" href=""><i class="bi bi-eye text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            }
        </div>
    </div>
    <!-- Products End -->
    <!-- Features Start -->
    <div class="container-fluid bg-primary feature py-5 pb-lg-0 mt-5" style="margin-bottom: 135px;">
        <div class="container py-5 pb-lg-0">
            <div class="mx-auto text-center mb-3 pb-2" style="max-width: 500px;">
                <h1 class="display-5 text-white">Why Choose Us!!!</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-3">
                    <div class="text-white mb-5">
                        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-seedling fs-4 text-white"></i>
                        </div>
                        <h4 class="text-white">100% Fresh vegetables</h4>
                    </div>
                    <div class="text-white">
                        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-award fs-4 text-white"></i>
                        </div>
                        <h4 class="text-white">Certificate of Food Hygiene and Safety</h4>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-block bg-white h-100 text-center p-5 pb-lg-0">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <img class="img-fluid" src="~/assets/img/taphoa2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-white mb-5">
                        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-truck fs-4 text-white"></i>
                        </div>
                        <h4 class="text-white">Freeship</h4>
                    <p class="mb-0">For customers have total cost of bill more than 100.000 VND</p>
                    </div>
                    <div class="text-white">
                        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt fs-4 text-white"></i>
                        </div>
                        <h4 class="text-white">24/7 Support</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features Start -->

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
